.art {
  position: relative;
  border: solid;
}
.sky {
  background-color: skyblue;
  height: 50rem;
  position: relative;
  z-index: 1;
}
.grass {
  background-color: green;
  height: 200px;
  z-index: 2;
}
.sun {
  background-color: yellow;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: solid orangered;
  position: absolute;
  z-index: 3;
  top: 700px;
  left: 350px;
}
.form {
  text-align: center;
}
h1 {
  text-align: center;
}

/* @media (min-width: 480px) {
}

@media (min-width: 768px);
 {
}
@media (min-width: 1224px);
 {
} */
